<section id="educacion" class="even">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <img alt="Pienso... luego... Existo..." src="./assets/imagenes/educacion.jpg">
      </div>
      <div class="col-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h1>Educación</h1>
              <div *ngFor="let tipo of educacion.tipo" class="container-fluid">
                <h2>{{tipo.nombre}}</h2>
                <div class="row" *ngFor="let estudio of tipo.estudiosCursados">
                  <div class="col">
                    <h3>{{estudio.escuela}}</h3>
                    <div class="row">
                      <div class="col-auto"><img alt="" class="logo-escuela"
                          [src]="estudio.img"></div>
                      <div class="col">
                        <p>{{estudio.titulo}}<br><time>{{estudio.fechaInicio}}</time> - <time>{{estudio.fechaFin}}</time></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 