<section id="educacion" class="even">
    <div class="left-25"><img alt="" src="./assets/imagenes/educacion.jpg"></div>
    <div class="right-75">
      <h1>Educación</h1>
      <div>
        <h2>Educación Principal</h2>
        <ul>
          <li class="list-unstyled">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3>Escuela Philips</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-auto"><img alt="" class="logo-escuela"
                    src="./assets/imagenes/logos-educacion/lg-escuela-philips.png"></div>
                <div class="col">
                  <p> Técnico en electrónica<br><time
                     >1991</time> - <time>1997</time></p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-unstyled">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3>Universidad Maimónides</h3>
                </div>
              </div>
              <div class="row">
                <div class="col-auto"><img alt="" class="logo-escuela"
                    src="./assets/imagenes/logos-educacion/lg-umai.png"></div>
                <div class="col">
                  <p> Licenciado en Tecnologías Multimediales<br><time
                     >1998</time> - <time>2002</time></p>
                </div>
              </div>
            </div>
          </li>
          <!--bindings={
"ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
        </ul>
      </div>
      <div>
        <h2>Educación Secundaria</h2>
        <ul>
          <li class="list-unstyled">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-auto"><img alt="" class="logo-escuela"
                    src=""></div>
                <div class="col">
                  <p> Argentina Programa<br><time
                     ></time> - <time></time></p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-unstyled">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-auto"><img alt="" class="logo-escuela"
                    src=""></div>
                <div class="col">
                  <p> Gobierno de la Ciudad de Buenos Aires<br><time
                     ></time> - <time></time></p>
                </div>
              </div>
            </div>
          </li>
          <li class="list-unstyled">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h3></h3>
                </div>
              </div>
              <div class="row">
                <div class="col-auto"><img alt="" class="logo-escuela"
                    src=""></div>
                <div class="col">
                  <p> Google y Youtube (autodidacta)<br><time
                     ></time> - <time></time></p>
                </div>
              </div>
            </div>
          </li>
          <!--bindings={
"ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
        </ul>
      </div>
      <!--bindings={
"ng-reflect-ng-for-of": "[object Object],[object Object"
}-->
    </div>
  </section>